---
import Layout from '../layouts/Layout.astro';

const games = [
	{
    title: "Flappy bird",
    img: "/flappy-bird.png",
    url: "/flappy"
  },
	{
    title: "Minesweeper",
    img: "/minesweeper.png",
    url: "/minesweeper"
  },
  {
    title: "Pong",
    img: "/pong.png",
    url: "/pong"
  },
  {
    title: "Snake",
    img: "/snake.png",
    url: "/snake"
  },
	{
		title: "TIC TAC TOE",
    img: "/tic-tac-toe.png",
    url: "/tic-tac-toe"
	},
  {
    title: "Arkanoid",
    img: "/arkanoid.png",
    url: "/arkanoid"
  },
];
---

<Layout title="JS GAMES">
	<div class="flex flex-col gap-5 mb-20 mt-20 text-center">
		<h1 class={`text-5xl underline underline-offset-4 decoration-dashed pixelify`}>
			<span class="bg-secundary">JavaScript Games</span>
		</h1>
		<p>
			Compilation of games developed with <br/> <span class="bg-secundary">JavaScript</span>, HTML5 <span class="bg-secundary">Canvas</span> and React.
		</p>
	</div>
	<article class="grid grid-cols-1 sm:grid-cols-2 xl:grid-cols-3 gap-10">
		{
			games.map((game) => (
				<section 
					class="group border border-primary shadow-primary hover:border-secundary hover:shadow-secundary transition-colors cursor-pointer bg-white"
				>
					<a href={game.url} class="flex items-center justify-center">
						<h3 
							class={`group hidden group-hover:block absolute z-10 text-secundary text-2xl pixelify`}
						>{game.title}</h3>
						<img 
							class="hover:blur-sm group-hover:blur-sm"
							src={game.img} 
							alt={`${game.title} game image`}
						/>  
					</a>
				</section>
			))
		}
		<section class="h-80  border-2 border-dashed border-primary bg-white">
			<div class="w-full h-full flex items-center justify-center">
				<p class={` text-2xl text-center pixelify`}>More games <br/> coming soon</p>
			</div>
		</section>
	</article>
</Layout>

