---
import SnakeCanvas from "../components/SnakeCanvas.astro";
import GameLayout from "../layouts/GameLayout.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="JS GAMES - Snake">
  <GameLayout>
    Snake
    <div slot="canvas">
      <SnakeCanvas />
    </div>
    <p slot="description">Aquí va la description</p>
    <p slot="controls">Aquí van los controles</p>
  </GameLayout>
</Layout>